<h1> Welcome to Pantry! </h1>

<h3> Please Login </h3>

<%= form_with url: '/login' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.submit "Login" %>

    <% if @errors %>
        <% @errors.each do |error|%>
            <%= error %>
        <% end %>
    <% end %>
<% end %>

