

<div class='basic_design'>
    <h3> Please Login </h3>

    <%= form_with url: '/login' do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Login" %>

        
    <% end %>
    <% if @errors %>
            <% @errors.each do |error|%>
               <p> Error: <%= error %> </p>
            <% end %>
    <% end %>
</div>

