<div class='basic_design'>
    <h1> All Recipes </h1>

    <% @recipes.each do |recipe| %>
        <p><%=link_to recipe["strMeal"], recipe_path(recipe["idMeal"])%> | Cuisine: <%=recipe["strArea"]%> | Meal: <%=recipe["strCategory"]%></p>
    <% end %>    

    <p><%= link_to "Back to recipes home", recipe_home_path %></p>
    <p><%= link_to "Back to my profile", user_path(@current_user.id) %></p>
</div>