<div class='basic_design'>
    <h1> Create a New Recipe </h1>

    <% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
            <p>Error: <%= error %></p>
        <% end %>
    <% end %>

    <%= form_for @recipe do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :meal %>
        <%= f.text_field :meal %>
        <%= f.label :cuisine %>
        <%= f.text_field :cuisine %>
        <%= f.label :instructions %>
        <%= f.text_field :instructions %>
        <%= f.label :image_url %>
        <%= f.text_field :image_url %>
        <%= f.submit %>
    <% end %>

</div>

