<div class='basic_design'>
    <h1> Recipe for <%= @recipe["strMeal"] %></h1>
    <div class='recipe'>
        <div class='recipe_ingredients'>
            <h3> Ingredients </h3>
            <% @ingredients_amounts.each do |ingredient, amount|%>
                <div class= "ingredient_amount"><span class="amount"><%= amount %></span>
                    <span class= "ingredient"><i><%= ingredient %></i></span>
                </div>
            <% end %> 
        </div>
        <div class='recipe_instructions'>
            <h3> Instructions </h3>
            <p><%= @recipe["strInstructions"] %> </p>
        </div>
    </div>            
    <nav class = 'recipe_right'>
            <p><%= link_to "Back to recipes home", recipe_home_path %></p>
    </nav>

</div>


