<h1> Recipe for <%= @recipe.name %></h1>

<h3> Ingredients </h3>
<% @recipe.ingredients.each do |ingredient|%>
    <p><%= ingredient.amount %>  <i><%= ingredient.food.name %></i> </p>
<% end %> 

<% if @recipe.completed %>
    <%= check_box_tag 'completed[]', 1, checked: true %>
    <%= label_tag :completed, "Ingredients List Complete" %>
<% else %>
    <%= link_to "Add ingredients", new_ingredient_path(@recipe) %> 
    <%= check_box_tag :completed, 1 %>
    <%= label_tag :completed, "Ingredients List Complete" %>
<% end %>  



<h3> Instructions </h3>
<p><%= @recipe.instructions %> </p>


<%= link_to "Back to All Recipes", recipes_path %>