<div class = 'basic_design'>
    <h1> Recipes Based on your Pantry </h1>
    <% @current_user.find_recipes.each do |recipe|%>
        <p><%=link_to recipe.name, recipe_path(recipe.id)%> | Cuisine: <%=recipe.cuisine%> | Meal: <%=recipe.meal%></p>
    <% end %>
    <nav class = 'recipe_right'>
        <p><%= link_to "Back to recipes home", recipe_home_path %></p>
        <p><%= link_to "Back to my profile", user_path(@current_user.id) %></p>
    </nav>
</div>