<div class='basic_design'>
    <h1> Create your Profile </h1>

    <% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
            <p>Error: <%= error %></p>
        <% end %>
    <% end %>

    <%= form_for @user do |f| %>
        <p>Enter username: <%= f.text_field :username %></p>
        <p>Enter password: <%= f.password_field :password %></p>
        <p>Enter any dietary restrictions you may have: <%= f.text_field :dietary_restriction %></p>
        <%= f.submit "Create profile" %>
    <% end %>
</div>