<div class="basic_design">
    <h1> Add Ingredients to <%= @recipe.name %></h1>

    <%= form_for @ingredient do |f| %>
        <p> <%= f.hidden_field(:recipe_id, value: @recipe.id) %> </p>
        <p> Ingredient: <%= f.collection_select :food_id, @foods, :id, :name %> </p>
        <p> Amount: <%= f.text_field :amount %> </p>
        <%= f.submit "Add ingredient to recipe" %>
    <% end %>

 </div>