<div class='basic_design'>
    <h1> <%= @current_user.username %>'s Pantry </h1>
    <h3> Food: </h3>
    <span>
        <% @foods.each do |food| %>
            <p><%= food.name %></p>
        <% end %>
    </span>
    <br></br>    
    <%= link_to "Add Food to Pantry", add_to_pantry_path(@current_user) %>
    <%= link_to "Remove Food from Pantry", remove_from_pantry_path %>
    <%= link_to "Back to my profile", user_path(@current_user.id) %>

</div>